<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="container">

<form th:action="@{/add-product}"
      th:object="${product}" method="POST">

    <div class="mb-3">
        <label class="form-label">Name:</label>
        <input type="text" th:field="*{name}"
               class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Image:</label>
        <input type="text" th:field="*{images}"
               class="form-control">
    </div>

<!--    <div class="mb-3">-->
<!--        <label class="form-label">Price:</label>-->
<!--        <input type="text" th:field="*{price}"-->
<!--               class="form-control">-->
<!--    </div>-->

<!--    <div class="mb-3">-->
<!--        <label class="form-label">Create Date:</label>-->
<!--        <input type="date" th:field="*{createDate}"-->
<!--               class="form-control">-->
<!--    </div>-->


<!--    <div class="mb-3">-->
<!--        <label class="form-label">avaliable:</label>-->
<!--        <input type="radio" th:field="*{avaliable}" th:value="1" checked>Yes</input>-->
<!--        <input type="radio" th:field="*{avaliable}" th:value="0">No</input>-->
<!--    </div>-->

    <div class="mb-3">
        <label class="form-label">Name Category:</label>
        <select th:field="*{categories.name}" class="form-control">
            <option th:each="category : ${listNameCategory}" th:value="${category.name}"
                    th:text="${category.name}"></option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<hr>


<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
        <th scope="col">CreateDate</th>
        <th scope="col">Available</th>
        <th scope="col">Name Category</th>
        <th scope="col">Action</th>

    </tr>
    </thead>
    <tbody>

    <tr th:each="p:${products}">

        <td th:text="${p.id}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.images}"></td>
        <td th:text="${p.price}"></td>
        <td th:text="${p.createDate}"></td>
        <td th:text="${p.avaliable==1 ?'Yes':'No'}"></td>
        <td th:text="${p.categories.name}"></td>

        <td>
            <a class="btn btn-primary">Update </a>
            <a class="btn btn-primary">Delete </a>
        </td>

    </tr>

    </tbody>
</table>
</body>
</html>